*,::before{
    margin: 0;
    padding: 0;
}
::after{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #3b3b3b;
}
#container{
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 110px;
}
#menu-container{
    cursor: pointer;
    display: flex;
    gap: 15px;
    font-size: 25px;
    color: aliceblue;
    margin-right: 300px;

}
#menu-container a:hover{
    color: #38bdf8;

}
#logo img{
    width: 150px;
    height: 150px;
    padding-left: 375px;
}
#line-container{
    text-decoration: underline;
}